*{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100%;
    background-color: black;
    font-family: Poppins;
    font-size: 22px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.pantalla{
    border-radius: 15px;
    background-color: rgba(203, 203, 254, 0.356);
    box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);

    margin: auto;
    margin-top: 1.5em;
    padding:2em;

    
    display: grid;
    grid-template-columns: 30% 60% 30%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    place-content: center;
}

.nomJugador{
    margin-bottom: 2em;
}

.casilla{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    position: relative;
}

.fichas{
    display: flex;
    width: 130px;
    place-content: center;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 8px rgb(65, 70, 74);
}
.ficha{
    width: 100%;
    height: 100px;
    display: flex;
}

@keyframes ficha{
	from {transform: scale(2.0);}
	to{transform: scale(1.0);}
}
@keyframes tuTurno{
	from {opacity: 0.5}
	to{opacity: 1}
}
@keyframes suTurno{
	from {opacity: 1}
	to{opacity: 0.5}
}

#L1,#L2{
    width: 100px;
    z-index: 3;
}
#M1,#M2{
    width: 75px;
    z-index: 2;
}
#S1,#S2{
    width: 50px;
    z-index: 1;
}

.contenedor #L1, .contenedor #L2{
    width: 150px;
}
.contenedor #M1, .contenedor #M2{
    width: 115px;
}
.contenedor #S1, .contenedor #S2{
    width: 80px;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0px;
    
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 2em;
    height: 80px;
}
img{
    display: flex;
    width: 50%;
    margin: auto;
}

@media (max-width: 1000px){
    .contenedor{
        padding-top: 2em;
    }
    .contenedor div{
        width: 100px;
        height: 100px;
    }
    footer{
        display: none;
    }

    .pantalla{
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 70%;
    }
    .fichas{
        display: flex;
        width: auto;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 250px;
    }
    .ficha{
        margin: 0;
        width: 33%;
        
    }
    .nomJugador{
        width: 100%;
        margin: 0;
        text-align: center;
        padding-bottom: 1em;
    }
    #jugador1{
        grid-column: 1 / 2;
        grid-row: 1;
        padding: 1em;
        border-right: 1px dotted black;
    }
    #jugador2{
        grid-column: 2 / 3;
        grid-row: 1;
        padding: 1em;
    }
    .contenedor{
        grid-column: 1/3;
        grid-row: 2;
    }

    #L1,#L2{
        width: 65px;
        
    }
    #M1,#M2{
        width: 50px;
       
    }
    #S1,#S2{
        width: 45px;
       
    }

    .contenedor #L1, .contenedor #L2{
        width: 95px;
    }
    .contenedor #M1, .contenedor #M2{
        width: 65px;
    }
    .contenedor #S1, .contenedor #S2{
        width: 45px;
    }

    @media (max-width: 600px){
        .fichas{
            width: 170px;
        }
        #jugador1{
            grid-column: 1 / 2;
            grid-row: 1;
            padding: 0;
            border-right: 1px dotted black;
        }
        #jugador2{
            grid-column: 2 / 3;
            grid-row: 1;
            padding: 0;
            padding-left: 1em;
        }
        #L1,#L2{
            width: 45px;
        }
        #M1,#M2{
            width: 30px;
        }
        #S1,#S2{
            width: 25px;
        }
    }
    /*#jugador2{
        flex-direction: row-reverse;
    }*/
}

/*hacer width de 700px*/